DB_URL=jdbc:postgresql://localhost:5435/kg_boilers_db
DB_URL_LOCAL=jdbc:postgresql://localhost:5435/kg_boilers_db
DB_URL_DOCKER=jdbc:postgresql://kg_boilers_postgres:5432/kg_boilers_db
DB_USERNAME=change_me
DB_PASSWORD=change_me
POSTGRES_DB=kg_boilers_db
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5435

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your-email@gmail.com
SPRING_MAIL_PASSWORD=your-app-password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
